#portrait {
  margin: 60px auto 20px auto;
  display: block;
}

#summary {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

#project-container {
  display: grid;
  margin: 0 auto;
  max-width: 700px;
  grid-gap: 20px;
  grid-template-columns: 220px 220px 220px;
}

#projects-title {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin: 60px auto 18px auto;
  text-align: center;
}

.card {
  display: inline-block;
  text-align: center;
}

.card h3 {
  max-width: 160px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 10px auto;
}

.card img {
  width: 150px;
  border: 1px solid black;
  border-radius: 32px;
}

.card p {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}
