{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block main %}
<img id = "portrait" src="{% static 'portrait.png' %}" alt="personal portrait" height="250px">
<div id="summary">
  computer science student at <strong><a href="https://www.ntu.ac.uk/">Nottingham Trent University</a></strong><br>
  former software engineering student at <strong><a href="https://softuni.org/">SoftUni</a></strong><br>
  endlessly <strong>curious</strong>, <strong>ambitious</strong> and <strong>inspired</strong> person
</div>

<h2 id="projects-title">Some of my Projects:</h2>

<div id="project-container">

  {% for project in projects %}

  <div class="card">
    <h3>{{ project.name }}</h3>
    <img src="{{ project.image.url }}" alt="project image">
    <p>{{ project.summary }}</p>
  </div>

  {% endfor %}

</div>
{% endblock %}
